.wrapper {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    margin-top: 15px;
    border-left: 2px solid var(--color-header);
}

.item-input {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.radio {
    width: max-content;
    display: none;
}

.text {
    border: none;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--black);
    &:focus {
        outline: none;
    }
}

.baseAdd-icon {
    width: max-content;
    display: flex;
    align-items: center;
}

.fluentIcon {
    cursor: pointer;
    font-size: 16px;
    color: var(--color-header);
}

.icon-custem {
    width: max-content;
    display: flex;
    align-items: center;
}

.icon-custem-add {
    display: flex;
}

.icon-custem-circle {
    display: none;
}

.option {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    margin-top: 5px;
}

.item-icon {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid var(--color-header);
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        .icon-option {
            color: var(--white);
        }
        background-color: var(--color-header);
    }
}

.btn-add {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid var(--color-header);
    border-radius: 5px;
    cursor: pointer;
    .btn-name {
        line-height: 20px;
        font-size: 14px;
        color: var(--color-header);
    }
    &:hover {
        .btn-name {
            color: var(--white);
        }
        background-color: var(--color-header);
    }
}
