.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-link,
.btn-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-item {
    &:hover {
        background-color: var(--bg-sidebar-hover);
    }
    height: var(--height-menu-bar);
    padding-left: 4px;
}

.active {
    .btn-item {
        background-color: var(--bg-activ-btn);
        border-left: 4px solid var(--color-header);
        padding-left: 0px;
        p {
            font-weight: 600;
        }
    }
}
