.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-link,
.btn-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-item {
    &:hover {
        background-color: var(--bg-sidebar-hover);
    }
    height: var(--height-menu-bar);
}
